<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dap.paas.console.seq.entity.SeqServiceCluster">
    <resultMap id="SeqServiceCluster" type="com.dap.paas.console.seq.entity.SeqServiceCluster">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="status" property="status"/>
        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>
        <result property="roomId" column="room_id" jdbcType="VARCHAR"/>
        <result property="cityId" column="city_id" jdbcType="VARCHAR"/>
        <result property="unitType" column="unit_type" jdbcType="VARCHAR"/>
        <result property="unitId" column="unit_id" jdbcType="VARCHAR"/>
        <result property="dbType" column="db_type" jdbcType="VARCHAR"/>
        <result property="dbUser" column="db_user" jdbcType="VARCHAR"/>
        <result property="dbPassword" column="db_password" jdbcType="VARCHAR"/>
        <result property="dbUrl" column="db_url" jdbcType="VARCHAR"/>
        <result property="dbDriver" column="db_driver" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="SeqServiceClusterVo" type="com.dap.paas.console.seq.dto.SeqServiceClusterVo" extends="SeqServiceCluster">
        <result property="machineName" column="machine_room_name" jdbcType="VARCHAR"/>
        <result property="cityName" column="city_name" jdbcType="VARCHAR"/>
        <result property="orgName" column="organization_name" jdbcType="VARCHAR"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="machineRoomCode" column="machine_room_code" jdbcType="VARCHAR"/>
        <result property="node" column="node" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Table_Name">
        seq_service_cluster
    </sql>

    <sql id="Base_Column">
        id, name,status,
        create_user_id, create_date,update_user_id,update_date,tenant_id,room_id,city_id,unit_type,unit_id,db_type,db_user,db_password,db_url,db_driver
    </sql>
    <!--查询单个-->
    <select id="getObjectById" parameterType="java.lang.String" resultMap="SeqServiceCluster">
        SELECT <include refid="Base_Column"/>
        FROM seq_service_cluster
        WHERE id = #{id}

    </select>
    <!--根据map查询单个-->
    <select id="getObjectByMap" parameterType="java.util.Map" resultMap="SeqServiceCluster">
        SELECT <include refid="Base_Column"/>
        FROM seq_service_cluster
        <where>
            <if test="name != null and name != ''">
                AND name = #{name}
            </if>
            <if test="id != null and id != ''">
                AND id not in(#{id})
            </if>
        </where>
    </select>

    <!--根据对象的某个属性查询数据列表-->
    <select id="queryList" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster" resultMap="SeqServiceClusterVo">
        SELECT <include refid="Base_Column"/>
        FROM seq_service_cluster
        <where>
            <if test="roomId != null and roomId != ''">
                AND room_id = #{roomId}
            </if>
           <if test="name != null and name != ''">
               AND name like concat('%',#{name},'%')
            </if>

            <if test="status != null and status != ''">
                AND  status = #{status}
            </if>

            <if test="cityId != null and cityId != ''">
                AND city_id = #{cityId}
            </if>
        </where>
    </select>

 <!--根据对象的某个属性查询数据列表-->
    <select id="queryListByMap" parameterType="java.util.Map" resultMap="SeqServiceClusterVo">
        SELECT <include refid="Base_Column"/>
        FROM seq_service_cluster
        <where>
            <if test="roomId != null and roomId != ''">
                AND room_id = #{roomId}
            </if>
           <if test="name != null and name != ''">
               AND name like concat('%',#{name},'%')
            </if>
            <if test="cityId != null and cityId != ''">
                AND city_id = #{cityId}
            </if>
            <if test="clusterIds != null ">
                AND id not in
                <foreach collection="clusterIds" item="id" open="(" close=")" separator="," index="">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <select id="queryListJob" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster" resultMap="SeqServiceCluster">
        SELECT <include refid="Base_Column"/>
        FROM seq_service_cluster
    </select>

    <select id="getClusterInfo" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster" resultMap="SeqServiceClusterVo">
        SELECT
          t1.*,
            t3.machine_room_name,
            t2.city_name,
            (select count(0) from seq_service_node t5 where t5.cluster_id = t1.id) AS node
        FROM
            seq_service_cluster t1
            LEFT JOIN basic_city t2 ON t1.city_id = T2.id
            LEFT JOIN basic_machineroom t3 ON t1.room_id = t3.id
        <where>
        <if test="id != null and id != ''">
           and  t1.id = #{id}
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND t1.tenant_id = #{tenantId}
        </if>
</where>
    </select>

    <!--分页查询数据-->
    <select id="queryPage" parameterType="com.dap.paas.console.seq.dto.SeqServiceClusterVo" resultMap="SeqServiceClusterVo">
        SELECT t1.* ,t3.machine_room_name ,t3.machine_room_code,t2.city_name ,t6.unit_name,(select count(0) from seq_service_node t5 where t5.cluster_id = t1.id) as node from (
        SELECT * FROM seq_service_cluster   <where>
        <if test="roomId != null and roomId != ''">
            AND room_id = #{roomId}
        </if>
        <if test="name != null and name != ''">
            AND name like concat('%',#{name},'%')
        </if>
        <if test="cityId != null and cityId != ''">
            AND city_id = #{cityId}
        </if>
        <if test="tenantId != null and tenantId != ''">
            AND tenant_id = #{tenantId}
        </if>
       </where>
        ) t1
        left join basic_city t2 on t1.city_id =T2.id left join basic_machineroom t3 on t1.room_id=t3.id
        left join basic_unit_info t6 on t1.unit_id = t6.id
        order by t1.update_date desc
    </select>


    <!--新增所有列-->
    <insert id="saveObject" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster">
        INSERT INTO seq_service_cluster(<include refid="Base_Column"/>)
        VALUES (#{id}, #{name},  #{status}, #{createUserId}, #{createDate}, #{updateUserId}, #{updateDate}, #{tenantId}, #{roomId},  #{cityId},#{unitType},#{unitId},#{dbType},#{dbUser},#{dbPassword},#{dbUrl},#{dbDriver})
    </insert>

    <!--通过主键修改数据-->
    <update id="updateObject" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster">
        UPDATE seq_service_cluster
        <set>
            <if test="updateDate != null ">
                update_date = #{updateDate},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                update_user_id = #{updateUserId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="roomId != null and roomId != ''">
                room_id = #{roomId},
            </if>

             <if test="cityId != null and cityId != ''">
                 city_id = #{cityId},
            </if>
             <if test="unitId != null and unitId != ''">
                 unit_id = #{unitId},
            </if>
             <if test="unitType != null and unitType != ''">
                 unit_type = #{unitType},
            </if>
            <if test="dbType != null and dbType != ''">
                db_type = #{dbType},
            </if>
            <if test="dbUser != null and dbUser != ''">
                db_user = #{dbUser},
            </if>
            <if test="dbPassword != null and dbPassword != ''">
                db_password = #{dbPassword},
            </if>
            <if test="dbUrl != null and dbUrl != ''">
                db_url = #{dbUrl},
            </if>
            <if test="dbDriver != null and dbDriver != ''">
                db_driver = #{dbDriver},
            </if>
        </set>
        WHERE id = #{id}
    </update>
    <update id="updateJob" parameterType="com.dap.paas.console.seq.entity.SeqServiceCluster">
        UPDATE seq_service_cluster
        <set>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="delObjectById" parameterType="java.lang.String">
        delete  from seq_service_cluster
        WHERE id = #{id}
    </delete>

    <!-- 批量删除  -->
    <delete id="delObjectByIds" parameterType="java.util.List">
        delete from seq_service_cluster
        WHERE id in
        <foreach collection="list" item="id" open="(" close=")" separator="," index="">
            #{id}
        </foreach>
    </delete>
</mapper>