<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dap.paas.console.seq.entity.SeqSdkMonitor">
    <resultMap id="SeqSdkMonitorMap" type="com.dap.paas.console.seq.entity.SeqSdkMonitor">
        <result property="id" column="id" jdbcType="VARCHAR"/>
        <result column="service_name" property="serviceName"/>
        <result column="host_ip" property="hostIp"/>
        <result column="status" property="status"/>
        <result column="port" property="port"/>
        <result column="service_id" property="serviceId"/>
        <result column="sdk_name" property="sdkName" jdbcType="VARCHAR"/>
        <result column="context_path" property="contextPath"/>

        <result property="updateUserId" column="update_user_id" jdbcType="VARCHAR"/>
        <result property="createUserId" column="create_user_id" jdbcType="VARCHAR"/>
        <result property="updateDate" column="update_date" jdbcType="TIMESTAMP"/>
        <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
        <result property="tenantId" column="tenant_id" jdbcType="VARCHAR"/>

        <result property="instanceName" column="instance_name" jdbcType="VARCHAR"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
        <result property="workId" column="work_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Table_Name">
        seq_sdk_monitor
    </sql>

    <sql id="Base_Column">
        id,service_name,host_ip,port,status, service_id,sdk_name,
        create_user_id, create_date,update_user_id,update_date,tenant_id,context_path,instance_name,version,work_id
    </sql>

    <!--无权限查所有-->
    <select id="queryListNoPermission" parameterType="java.lang.String" resultMap="SeqSdkMonitorMap">
        SELECT <include refid="Base_Column"/>
        FROM seq_sdk_monitor
        where status !='0'
    </select>

    <!--无权限修改状态信息-->
    <update id="updateNoPermission" parameterType="com.dap.paas.console.seq.entity.SeqSdkMonitor">
        update seq_sdk_monitor
        <set>
            update_date = #{updateDate},
            update_user_id = #{updateUserId},
            status = #{status}
        </set>
        WHERE id = #{id}
    </update>

<!--根据对象的某个属性查询数据列表-->
    <select id="queryList" parameterType="com.dap.paas.console.seq.entity.SeqSdkMonitor" resultMap="SeqSdkMonitorMap">
        SELECT <include refid="Base_Column"/>
        FROM seq_sdk_monitor
        <where>
            <if test="serviceId != null and serviceId != ''">
                AND service_id = #{serviceId}
            </if>
            <if test="status != null and status != ''">
                AND status != #{status}
            </if>
        </where>
    </select>

    <!--根据状态查询数量-->
    <select id="queryStatusTotal" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT count(1)
        FROM seq_sdk_monitor
        <where>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>


    <!--查询单个-->
    <select id="getObjectById" resultMap="SeqSdkMonitorMap">
        SELECT
        <include refid="Base_Column"/>
        FROM seq_sdk_monitor
        WHERE id = #{id}
    </select>

    <select id="queryPage" parameterType="com.dap.paas.console.seq.entity.SeqSdkMonitor"
            resultMap="SeqSdkMonitorMap">

        SELECT
            id,
            service_name,
            host_ip,
            `port`,
            `status`,
            service_id,
            sdk_name,
            create_user_id,
            create_date,
            update_user_id,
            update_date,
            tenant_id,
            context_path,
            instance_name,
            version,
            work_id
        FROM seq_sdk_monitor
        <where>
            <if test="instanceName != null and instanceName != ''">
                and  instance_name like concat('%',#{instanceName},'%')
            </if>
            <if test="hostIp != null and hostIp != ''">
                and  host_ip like concat('%',#{hostIp},'%')
            </if>
            <if test="tenantId != null and tenantId != ''">
                and  tenant_id = #{tenantId}
            </if>
        </where>
    </select>

    <update id="updateAllInfoWithVersion" parameterType="com.dap.paas.console.seq.entity.SeqSdkMonitor">
        UPDATE  seq_sdk_monitor
        <set>
            <if test="serviceName != null and serviceName != ''">
                service_name = #{serviceName},
            </if>
            <if test="hostIp != null and hostIp != ''">
                host_ip = #{hostIp},
            </if>
            <if test="port != null and port != ''">
                port = #{port},
            </if>
            <if test="instanceName != null and instanceName != ''">
                instance_name = #{instanceName},
            </if>
            <if test="status != null and status != ''">
                status = #{status},
            </if>
            <if test="serviceId != null and serviceId != ''">
                service_id = #{serviceId},
            </if>
            <if test="tenantId != null and tenantId != ''">
                tenant_id = #{tenantId},
            </if>
            <if test="updateUserId != null and updateUserId != ''">
                update_user_id = #{updateUserId},
            </if>
            <if test="contextPath != null and contextPath != ''">
                context_path = #{contextPath},
            </if>
            <if test="sdkName != null and sdkName != ''">
                sdk_name = #{sdkName},
            </if>
            <if test="version != null">
                version = #{version} + 1,
            </if>
            <if test="updateDate != null ">
                update_date = #{updateDate}
            </if>
        </set>
        WHERE id = #{id}
        <if test="version != null">
            AND version = #{version}
        </if>
    </update>

</mapper>