<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) [%X{traceId}] %clr([%t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <!-- 日志存放路径 -->
    <property name="log.path" value="./logs"/>
    <!--自定义日志存留天数-->
    <property name="LOG_MAX_HISTORY" value="30"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return level == DEBUG;</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return logger.contains("org.apache.zookeeper.ClientCnxn");</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
    </appender>
    <appender name="FileAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/paas-platform/platform.log</file>
        <append>true</append>
        <!-- 指定拆分规则 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 按照时间和压缩格式声明文件名 压缩格式gz 一般按天来拆分 %i为文件标号 -->
            <fileNamePattern>${log.path}/paas-platform/otherdays/platform.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- 按照文件大小来进行拆分 -->
            <maxFileSize>100MB</maxFileSize>
            <!-- 设置最大保存周期 -->
            <maxHistory>${LOG_MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return logger.contains("org.apache.zookeeper.ClientCnxn");</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator>
                <expression>return message.contains("dapScheduler_Worker");</expression>
            </evaluator>
            <OnMatch>DENY</OnMatch>
            <OnMismatch>NEUTRAL</OnMismatch>
        </filter>
    </appender>
    <logger name="org.apache.ibatis.session.defaults.DefaultSqlSession" level="warn"/>
    <root level="DEBUG">
        <appender-ref ref="Console"/>
        <appender-ref ref="FileAppender"/>
    </root>
</configuration>
